section.chief-astrologer
	.container
		.js-chief-astrologer-title
		.chief-astrologer__content
			.chief-astrologer__photo-wrap
				img.chief-astrologer__photo(src="img/elena.png", alt="Елена Лапик")
			.js-chief-astrologer-info
		h3.chief-astrologer__subtitle МОИ СЕРТИФИКАТЫ
		.chief-astrologer__certificates.js-certificates-mob
			.chief-astrologer__certificate.js-certificate(data-src="0")
				img(src="img/certificat_1.jpg", alt="certificat")
			.chief-astrologer__certificate.js-certificate(data-src="1")
				img(src="img/certificat_2.jpg", alt="certificat")
			.chief-astrologer__certificate.js-certificate(data-src="2")
				img(src="img/certificat_3.jpg", alt="certificat")
			.chief-astrologer__certificate.js-certificate(data-src="3")
				img(src="img/certificat_4.jpg", alt="certificat")