footer.footer
	.container
		.footer__top
			ul.footer__list.list-f
				li.list-f__item.list-f__item--main Персональные сервисы
				li.list-f__item
					a.list-f__link(href="") Планеты в знаках зодика
				li.list-f__item
					a.list-f__link(href="") Конвертер времени
				li.list-f__item
					a.list-f__link(href="") Ректификация
				li.list-f__item
					a.list-f__link(href="") И-цзин
			ul.footer__list.list-f
				li.list-f__item.list-f__item--main Партнерам
				li.list-f__item
					a.list-f__link(href="") Для астрологов
				li.list-f__item
					a.list-f__link(href="") Партнерская программа
			ul.footer__list.list-f
				li.list-f__item.list-f__item--main Про компанию
				li.list-f__item
					a.list-f__link(href="") Пользовательское соглашение
				li.list-f__item
					a.list-f__link(href="") Политика конфиденциальности
				li.list-f__item
					a.list-f__link(href="") Использование cookies
			ul.footer__list.list-f
				li.list-f__item.list-f__item--main Контакты
				li.list-f__item
					a.list-f__link(href="mailto:q@astromix.net") q@astromix.net
				li.list-f__item.list-f__item--social
					a.list-f__link(href="" target="_blank")
						i.fico.fico-fb
					a.list-f__link(href="" target="_blank")
						i.fico.fico-insta
					a.list-f__link(href="" target="_blank")
						i.fico.fico-pin
					a.list-f__link(href="" target="_blank")
						i.fico.fico-i
		.footer__bottom
			p.footer__copy © Сервис создания гороскопов Astromix. Все права защищены 2018-2021. Vivabelle Limited
			.footer__pay
				img(src="img/svg/visa.svg", alt="visa")
				img(src="img/svg/mastercart.svg", alt="mastercart")