section.header
	.container
		.header__wrapper
			.header__info
				h1.header__title Любовный гороскоп
				p.header__subtitle Для женщин, которые хотят ясности в личной жизни
				.header__list.header__list--desc
					.feature-item.feature-item--1
						.feature-item__icon
							img(src="img/svg/feature-1.svg", alt="feature ico")
						.feature-item__desc
							p.feature-item__title Реальные причины ссор и одиночества
							p.feature-item__text Эти решения помогут вам все исправить
					.feature-item.feature-item--2
						.feature-item__icon
							img(src="img/svg/feature-2.svg", alt="feature ico")
						.feature-item__desc
							p.feature-item__title Максимальная совместимость в паре 
							p.feature-item__text Проверьте свое окружение по знаку зодиака
					.feature-item.feature-item--3
						.feature-item__icon
							img(src="img/svg/feature-3.svg", alt="feature ico")
						.feature-item__desc
							p.feature-item__title Как встретить достойного мужчину 
							p.feature-item__text Узнайте, как стать желанной для него
			.header__form
				include forms/form-love/main
			.header__list.header__list--mob
				h2.header__title-mob Вы узнаете:
				.feature-item.feature-item--1
					.feature-item__icon
						img(src="img/svg/feature-1.svg", alt="feature ico")
					.feature-item__desc
						p.feature-item__title Реальные причины ссор и одиночества
						p.feature-item__text Эти решения помогут вам все исправить
				.feature-item.feature-item--2
					.feature-item__icon
						img(src="img/svg/feature-2.svg", alt="feature ico")
					.feature-item__desc
						p.feature-item__title Максимальная совместимость в паре 
						p.feature-item__text Проверьте свое окружение по знаку зодиака
				.feature-item.feature-item--3
					.feature-item__icon
						img(src="img/svg/feature-3.svg", alt="feature ico")
					.feature-item__desc
						p.feature-item__title Как встретить достойного мужчину 
						p.feature-item__text Узнайте, как стать желанной для него