section.horoscope-info
	.container
		img.horoscope-info__photo(src="img/horoscope_image.jpg", alt="horoscope_image")
		.horoscope-info__wrapper
			h2.horoscope-info__title.js-horoscope-info-title Любовный гороскоп. Почему так важно это знать?
