section.info
	.container
		.info__wrapper
			.info__left
				.js-info-title
				button.btn.btn-primary.info__btn.info__btn--desc(type="button") Получить гороскоп
			.info__photo
				img(src="img/info_photo.jpg", alt="info_photo")
			button.btn.btn-primary.info__btn.info__btn--mob(type="button") Получить гороскоп