section.natal-chart
	.container
		.natal-chart__top
			h2.natal-chart__title Заголовок для ссылок в несколько строк
			ul#myTab.nav.nav-tabs(role='tablist')
				li.nav-item(role='presentation')
					button#natal-chart-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#natal-chart' type='button' role='tab' aria-controls='natal-chart' aria-selected='true') Натальная карта
				li.nav-item(role='presentation')
					button#home-tab.nav-link(data-bs-toggle='tab' data-bs-target='#home' type='button' role='tab' aria-controls='home' aria-selected='false') Дома
		#myTabContent.tab-content
			#natal-chart.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='natal-chart-tab')
				ul.tab-list
					li.tab-list__item.tab-list__item--purple 
						p.tab-list__text Аспекты в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--yellow 
						p.tab-list__text Квадраты в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--orange 
						p.tab-list__text Соединение в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--purple 
						p.tab-list__text Узлы в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--yellow
						p.tab-list__text  Луна в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--orange 
						p.tab-list__text Марс в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--purple 
						p.tab-list__text Меркурий в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--yellow 
						p.tab-list__text Нептун в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--orange 
						p.tab-list__text Плутон в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--purple 
						p.tab-list__text Сатурн в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--yellow 
						p.tab-list__text Солнце в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--orange 
						p.tab-list__text Уран в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--purple 
						p.tab-list__text Юпитер в натальной карте
						.tab-list__icon
							i.fico.fico-arrowS
			#home.tab-pane.fade(role='tabpanel' aria-labelledby='home-tab')
				ul.tab-list
					li.tab-list__item.tab-list__item--purple
						p.tab-list__text Солнце в 1 дома
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--yellow
						p.tab-list__text Солнце в 3 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--orange
						p.tab-list__text Луна в 1 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--purple
						p.tab-list__text Луна в 8 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--yellow
						p.tab-list__text Венера в 9 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--orange 
						p.tab-list__text Марс в 8 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--purple 
						p.tab-list__text Марс в 12 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--yellow 
						p.tab-list__text Сатурн в 7 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--orange 
						p.tab-list__text Сатурн в 8 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--purple 
						p.tab-list__text Юпитер в 8 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--yellow 
						p.tab-list__text Уран в 8 доме
						.tab-list__icon
							i.fico.fico-arrowS
					li.tab-list__item.tab-list__item--orange 
						p.tab-list__text Нептун в 5 доме
						.tab-list__icon
							i.fico.fico-arrowS