.popup-certificates
	img.popup-certificates__close.js-close-popup-certificates(src="img/svg/close.svg", alt="close")
	.popup-certificates__wrapper
		.container
			.popup-certificates__slider.js-popup-certificates
				.popup-certificates__wrap-photo
					img.popup-certificates__photo(src="img/certificate_big_1.jpg", alt="certificat0")
				.popup-certificates__wrap-photo
					img.popup-certificates__photo(src="img/certificate_big_2.jpg", alt="certificat1")
				.popup-certificates__wrap-photo
					img.popup-certificates__photo(src="img/certificate_big_3.jpg", alt="certificat2")
				.popup-certificates__wrap-photo
					img.popup-certificates__photo(src="img/certificate_big_4.jpg", alt="certificat3")