section.questions
	.container
		.questions__center
			.js-questions-content
			button.btn.btn-primary.questions__btn.questions__btn--desc(type="button") Получить ответы сейчас
		.questions__list.questions__list--desc
			.questions__col
				p.question.question--big.question--1 Почему не складываются
					span длительные отношения?
				p.question.question--small.question--2 Почему я одна?
					span Что со мной не так?
				p.question.question--med.question--3 Как сохранить отношения 
					span с партнером? Все сложно!
			.questions__col
				p.question.question--med.question--4 Подходит ли мне мужчина,
					span который сейчас рядом?
				p.question.question--small.question--5 Где я встречу любовь 
					span всей своей жизни?
				p.question.question--big.question--6 Почему вокруг нет 
					span достойных мужчин?
		.questions__list.questions__list--mob
			p.question.question--small.question--2 Почему я одна?
				span Что со мной не так?
			p.question.question--big.question--1 Почему не складываются
				span длительные отношения?
			p.question.question--med.question--4 Подходит ли мне мужчина,
				span который сейчас рядом?
			p.question.question--med.question--3 Как сохранить отношения 
				span с партнером? Все сложно!
			p.question.question--big.question--6 Почему вокруг нет 
				span достойных мужчин?
			p.question.question--small.question--5 Где я встречу любовь 
				span всей своей жизни?
		button.btn.btn-primary.questions__btn.questions__btn--mob(type="button") Получить ответы сейчас
