.form-loader
	.form-loader__planet-1
	.form-loader__planet-2
	.form-loader__planet-3
	.form-loader__planet-4
		img(src="img/svg/loader-planet.svg", alt="planet")
	.form-loader__round-1.flex
		.form-loader__round-2.flex
			.form-loader__round-3.flex
				.form-loader__round-4