.form-block
	p.form-block__text с рекомендациями от астролога
	.form-block__top
		p.form-block__title Трудности  в&nbsp;отношениях:
		p.form-block__subtitle Почему так происходит и что с этим делать?
	.form-block__bottom
		include step-1
		//- include step-2
		//- include step-3